@css {
:root
	--primary-hs: 250 30%;
	--secondary-hs: 190 40%;

	--l-0: 0%;
	--l-30: 30%;
	--l-40: 40%;
	--l-50: 50%;
	--l-90: 90%;
	--l-100: 100%;

@media (prefers-color-scheme: dark)
	:root
		--l-0: 100%;
		--l-30: 70%;
		--l-40: 60%;
		--l-90: 10%;
		--l-100: 0%;
}

html *
  box-sizing border-box
  font-size 18px
  font-family "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","HeitiSC","WenQuanYi Micro Hei",sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  // color hsl(0 0% var(--l-0))
  // background-color hsl(0 0% var(--l-100))

code, code *
  font-family source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace !important

blockquote
  padding-left 1rem
  color color-quote-text
  border-left 4px solid $color-border

@media (min-width: 600px)
  html
    font-size 22px

  ::-webkit-scrollbar
    width 8px
    height 8px

  ::-webkit-scrollbar-button
    width 0px
    height 0px

  ::-webkit-scrollbar-thumb
    background rgba(0,0,0,0.2)
    border none
    border-radius 4px

  ::-webkit-scrollbar-thumb:hover
    background-color rgba(0,0,0,0.3)

  ::-webkit-scrollbar-track
    background-color transparent
    border none

  ::-webkit-scrollbar-track:hover
    background-color rgba(0,0,0,0.1)

  ::-webkit-scrollbar-track:active
    background-color rgba(0,0,0,0.1)

  ::-webkit-scrollbar-corner
    background transparent