$vssue-theme-color = #9a9fac

$color-main-text = #292C32
$color-main-text-hover = #25272D
$color-quote-text = #9A9FAC
$color-code-bg = #dadada
$color-border = #9A9FAC
$color-copyright = #9A9FAC
$color-background = white
$color-link = #0366d6